@{
    ViewData["Title"] = "Home Page";
}
<link href="/css/index.css" rel="stylesheet" />

<div class="text-center" id="home">
    <h1 class="display-4">DetonaRalphCRUD</h1>
    <div class="img_title">
        <img src="~/img/detonaralph_transparente.png" />
    </div>
    <p id="descricao">
        Detona Ralph é um filme da Pixar animado, de aventura e comédia.
        Ralph está cansado de ser desprezado no seu próprio jogo de fliperama. Para ganhar a atenção do herói Felix e todos os outros personagens, o vilão tem um plano e sai em busca de uma medalha, com a intenção de provar o seu valor.
    </p>
    <div class="row">
        <div class="col-sm-6" id="card_1">
            <div class="card" id="card_index">
                <div class="card-body">
                    <h5 class="card-title text-center">Crie aqui seus personagens</h5>
                    <a class="btn btn-light" asp-controller="Personagens" asp-action="CriarPersonagem">Criar Personagens</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6" id="card_2">
            <div class="card" id="card_index">
                <div class="card-body">
                    <h5 class="card-title text-center">Exiba os personagens já criados</h5>
                    <a class="btn btn-light" asp-controller="Personagens" asp-action="">Listar Personagens</a>
                </div>
            </div>
        </div>
    </div>
    <div class="img_footer">
        <img class="img_filme" src="~/img/detonaralph_capa1.jpg" />
        <img class="img_filme" src="~/img/detonaralph_capa.jpg" />
    </div>

</div>
